<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="true" destination="https://login.turbify.com/login?.done=https://login.turbify.com%2Faccountinfo%3F.done%3Dhttps%3A%2F%2Fwww.verizonsmallbusinessessentials.com%2Fservices" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
